force-app/main/default/flows/Add_opportunity_products_as_assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Assest_Record_To_Assets_List</name>
        <label>Add Assest Record To Assets List</label>
        <locationX>460</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>var_assests_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_asset_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_To_Asset_Record</name>
        <label>Assign Record Type To Asset Record</label>
        <locationX>440</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>var_asset_record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Record_Types_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Record_Types_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_To_Asset_Record_0</name>
        <label>Assign Record Type To Asset Record</label>
        <locationX>568</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>var_asset_record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assest_Record_To_Assets_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_Asset_Record_Variable</name>
        <label>Assign Values To Asset Record Variable</label>
        <locationX>460</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>var_asset_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_asset_record.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter the Record Types Names List to get the Record Type Id of the same Record Type Name from the Product</description>
        <name>Filter_Record_Types_List</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Record Types List</label>
        <locationX>460</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Filter_Record_Types_List</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Record_Types_List.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_On_Products.Product2.RecordType.DeveloperName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Values_To_Asset_Record_Variable</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Record_Type_Found</name>
        <label>Record Type Found?</label>
        <locationX>460</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Type_To_Asset_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Record_Types_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Record_Types_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_asset_external_id</name>
        <dataType>String</dataType>
        <expression>{!currentItem_Filter_AssetPrefixMapping.Prefix__c} + &apos;-&apos; + {!Loop_On_Products.Product2.ProductCode} + &apos;-&apos;</expression>
    </formulas>
    <interviewLabel>Add opportunity products as assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add opportunity products as assets</label>
    <loops>
        <name>Loop_On_Products</name>
        <label>Loop On Products</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Record_Types_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Record_Types_List</name>
        <label>Loop Record Types List</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <collectionReference>Filter_Record_Types_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Type_To_Asset_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Assest_Record_To_Assets_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <inputReference>var_assests_list</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get OpportunityLineItem related to the updated opprtunity</description>
        <name>Get_OpportunityLineItems</name>
        <label>Get OpportunityLineItems</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Ids</name>
        <label>Get Record Type Ids</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_AssetPrefixMapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetPrefixMapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Record_Types_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>var_assests_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_asset_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_asset_record_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_assets_list_to_update</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
