force-app/main/default/flows/Asset_Update_Asset_s_External_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Prefix_To_Var_0_0</name>
        <label>Assign Prefix To Var</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>var_prefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AssetPrefixMapping_Records.Prefix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the AssetPrefixMapping filtered collection has records</description>
        <name>Is_AssetPrefixMapping_Records_Found</name>
        <label>Is AssetPrefixMapping Records Found?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AssetPrefixMapping_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prefix_To_Var_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_external_id</name>
        <dataType>String</dataType>
        <expression>{!var_prefix} + &apos;-&apos; + {!$Record.Product2.ProductCode} + &apos;-&apos; + {!$Record.Auto_Number_Incremental__c}</expression>
    </formulas>
    <interviewLabel>Asset - Update Asset&apos;s External Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset - Update Asset&apos;s External Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AssetPrefixMapping_Records</name>
        <label>Get AssetPrefixMapping Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AssetPrefixMapping_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetPrefixMapping__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Prefix__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Record</name>
        <label>Update Asset Record</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>External_Id__c</field>
            <value>
                <elementReference>formula_external_id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AssetPrefixMapping_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Record_Types_List_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetPrefixMapping__mdt</objectType>
    </variables>
    <variables>
        <name>var_asset_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_prefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
